/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
/* } */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.home-bg {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(2, 0, 36, 1) 63%,
    rgba(245, 75, 100, 1) 100%
  );
  height: 100vh;
  overflow: auto;
}
.logo_img {
  position: relative;
  margin: 0 auto;
  width: 120px;
}
.img_con{
  display: flex;
  justify-content: center;
  padding: 30px 0px 10px;
}
.place-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}
.margin-top{
  margin-top: 50px;
}
.w-200{
  width: 200px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(2, 0, 36, 1) 63%,
    rgba(245, 75, 100, 1) 100%
  );
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background:rgba(245, 75, 100, 1)
}
.download_style{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  margin: 10px 0px;
}
.csv_download{
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f3f1f1;
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 14px;
}
.pdf_download{
  background-image: url('../src/assets/pdf-button.png');
  background-size: 100% 100%;
  width: 150px;
  height: 40px;
}
